@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-box1{
    width: 50%; 
    /* margin-right: 300px; */
}
.hero-section div{
    /* width: 50%; */
}
.hero-title{
    margin: 25px 0;
    font-size: 3.5rem;
    font-weight: bold;
}
.title-color-orange{
    color: orangered;
}
.title-color-skyblue{
    color: skyblue;
}
.hero-description{
    font-size: 1.25rem;
    font-weight: 400;
}
.hero-btn{
    padding: 20px 50px;
    color: white;
    background-color: black;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}
/* -------------- Hero Section End ------------- */
.class-section{
    margin: 50px 150px;
    text-align: center;
    background-image: url(assets/bg.png);
   
    background-position: center;
}
.class-section > h3{
    font-size: 2.75rem;
    font-weight: bold;
}
.class-box{
    display: flex;
    gap: 50px;
}
.card{
    padding: 50px;
    
    border-radius: 20px;
}
.card1{
    background-image: linear-gradient(rgb(182, 234, 255), white);
}
.card2{
    background-image: linear-gradient(rgb(255, 234, 194),white);
}
.card3{
    background-image: linear-gradient(rgb(255, 174, 255), white);
}
.card h4{
    font-size: 1.5rem;
}
.card1 a{
    color: skyblue;
    text-decoration: none;
}
.card2 a{
    color: orange;
    text-decoration: none;
}
.card3 a{
    color: purple;
    text-decoration: none;
}

/* ---------- Small Device ----------- */
@media screen and (max-width: 576px){
    .hero-section{
        flex-direction: column-reverse; 
        justify-content: center;
        text-align: center;
    }
    .hero-box1{
        width: 100%; 
        /* margin-right: 300px; */
    }
    .hero-box2{
        margin: 100px;
    }
    .hero-box2 img{
        width: 400px;
    }
    .hero-title{
        /* margin: 25px 0; */
        font-size: 2.5rem;
        font-weight: bold;
    }
    /* -------------- Hero Section End ------------- */
    .class-section{
        margin: 50px 10px;
    }
    .class-box{
        flex-direction: column;
        gap: 10px;
    }



}